{% extends 'layout/master.twig' %}
{% block head %}
    <style>
   </style>
{% endblock head %}

{% block content %}
    <div class="container appContent" >
        <div class="sectionSeparator"></div>
        <div class="title">Controllers <small>Brief Summary on usage</small></div>
        <hr>
    </div>
{% endblock content %}

{% block scripts %}
{#    <script src="{{ asset('js/error404.min.js') }}"></script>#}
{% endblock scripts %}

