<div class="appSideNavOverlay">
    <div class="appSideNav">

        {{ nav_links  | raw }}
{#        <a href="#"><i class="fas fa-cannabis"></i>&thinsp;MICRO1</a>#}
{#        <a href="#"><i class="fas fa-star"></i>&thinsp;MICRO2</a>#}
{#        <a class="dropdown-btn">Dropdown#}
{#            <i class="fas fa-caret-down"></i>#}
{#        </a>#}
{#        <div class="dropdown-container">#}
{#            <a href="#"><i class="fas fa-cogs"></i>&thinsp;LABEL_DEMO_1</a>#}
{#            <a href="#"><i class="fas fa-university"></i>&thinsp;LABEL_DEMO_2</a>#}
{#            <a href="#"><i class="fas fa-map"></i>&thinsp;LABEL_DEMO_3</a>#}
{#            <a href="#"><i class="fas fa-star"></i>&thinsp;LABEL_DEMO_4</a>#}
{#        </div>#}
        {{ nav_admin_links | raw  }}

{#        {% if multi_language %}#}
{#            <hr style="border-bottom: solid 1px whitesmoke">#}
{#            {% include './partials/navPartials/sideNavMultiLanguage.twig' %}#}
{#        {% endif %}#}

        {#        {% include './partials/navPartials/sideNavMultiLanguage.twig' %}#}
{##}
{#        <a href="#"><i class="fas fa-user-plus"></i>&thinsp;REGISTER</a>#}
{#        <a href="#"><i class="fas fa-sign-in-alt"></i>&thinsp;LOGIN</a>#}

    </div>
</div>
