<a class="dropdown-btn">Language
    <i class="fas fa-caret-down"></i>
</a>
<div class="dropdown-container">
    <a href="#"> <div class="language pt">&emsp;Portuguese</div></a>
    <a href="#"> <div class="language en">&emsp;English</div></a>
    <a href="#"> <div class="language fr">&emsp;Portuguese</div></a>
</div>
