
.defAvatar {
  content: url("../images/default_avatar.png");
}
.navLogo {
  content: url("../images/webing_logo_1.png");
}
.avatarMask {
  content: url("../images/circle_avatar_mask.png");
}
.avatarPlaceholder {
  content: url("../images/drop_area_placeholder.png");
}
.avatarCircle {
  content: url("../images/circle_avatar.png");
}
.avatarCrop {
  content: url("../images/crop_circle.png");
}
.placeHolder {
  content: url("../images/placeholder.png");
}
.placeHolder {
  content: url("../images/Onion.png");
}






//.pfFlag {
//  content: url("../images/pt.png");
//}
//
//.enFlag {
//  content: url("../images/en.png");
//}
//
//.frFlag {
//  content: url("../images/fr.png");
//}
//
