<div class="col-12">
    <div class="card flex-row"><img class="card-img-left example-card-img-responsive" src="https://picsum.photos/300/300" height="150px" width="150px" alt="" style="border-radius: 5px"/>
        <div class="card-body">
            <h4 class="card-title h3 h4-sm">{{ trans('BANNER_TITTLE') }}</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consectetur cum enim id incidunt, ipsa nam nemo veritatis. Aliquid cum dicta error molestiae nulla odit quaerat quam quidem tempore, veniam.</p>
        </div>
    </div>
</div>
<div class="sectionSeparator"></div>